[Unit]
Description=tiny-maven-proxy
Requires=docker.service
After=docker.service

[Service]
Environment=DOPTS="--restart=always"
Environment=CONTAINERNAME=tiny-maven-proxy
Environment=IMAGE=tiny-maven-proxy
Environment=VOLUME=/mnt/media/maven:/var/lib/maven
Environment=PORTMAP1=5956:5956
Environment=MEMORY=96m
ExecStart=/usr/bin/docker run $DOPTS -m ${MEMORY} --name ${CONTAINERNAME} -p ${PORTMAP1} -v ${VOLUME} ${IMAGE}
ExecStop=/usr/bin/docker stop -t 10 ${CONTAINERNAME}
ExecStopPost=/usr/bin/docker rm -f ${CONTAINERNAME}
ExecReload=/usr/bin/docker exec -t ${CONTAINERNAME} kill -HUP 1

[Install]
WantedBy=default.target
